<!-- views/posts-show.handlebars -->

<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    {{#each posts}}
    <h1>{{this.title}}</h1>
    <h2>{{this.subtitle}}</h2>
    <p>{{this.description}}</p>

    <p><a href="/posts/{{this._id}}/edit">Edit</a></p>
    <p>
        <form method="POST" action="/posts/{{this._id}}?_method=DELETE">
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </p>
    {{/each}}
    <hr>

</div>